@media screen and (orientation: portrait) {
	#drum-machine {
		max-width: 90vw;
		margin-top: 5vh;
	}
	#display {
		height: 10vh;
	}
	.fa-icon {
		display: none !important;
	}
	#switch-container,
	#slider {
		padding-top: 5vh !important;
	}
}

@media screen and (orientation: landscape) {
	#drum-machine {
		max-width: 30vw;
		margin-top: 10vh;
	}
	#display {
		height: 10vh;
		max-width: 20vw;
	}
	.slidecontainer {
		max-width: 20vw;
	}
	#switch-container,
	#slider {
		padding-top: 2vh;
	}
}

#switch-container {
	padding-top: 10px;
}

#drum-machine {
	max-height: 95vh;
	padding-top: 2vh;
	border-radius: 10px;
}

.my-button {
	border: 1.5px solid grey;
	border-radius: 8px;
	height: 60px;
	width: 60px;
	margin: 10px auto;
}

.my-button:hover {
	border: 1px solid grey;
	border-radius: 8px;
	height: 58px;
	width: 58px;
	margin: 10px auto;
}

.drum-pad {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);
}

body {
	font-family: "Open Sans", sans-serif !important;
}

footer {
	margin-top: 30vh;
	width: 100%;
	font-size: 14px;
	text-align: center;
	/**/
	/* border: 0.5px solid black; */
}

/*TEMP*/

/* #drum-machine,
#toggles,
.row,
.slidecontainer {
    border: 0.5px solid black;
}

.container,
.col,
.col-4 {
    border: 0.5px solid blue;
} */
